<h2>Deploy <%= @deploy.deploy_name %></h2>

<h3><%= t(@deploy.state) %></h3>


<%= form_for @deploy, url: { action: "create" }, builder: (defined? TabularFormBuilder) ? TabularFormBuilder : Redmine::Views::LabelledFormBuilder do |f| %>

  <div class="box tabular">

    <p><strong><%= t('.date') %></strong>: <%= @deploy.date %></p>
    <p><strong><%= t('.start_time') %></strong>: <%= @deploy.start_time.in_time_zone(Time.zone).strftime("%H:%M") %></p>
    <p><strong><%= t('.estimated_end_time') %></strong>: <%= @deploy.estimated_end_time.in_time_zone(Time.zone).strftime("%H:%M") %></p>
    <p><strong><%= t('.release_notes') %></strong>: <%= @deploy.release_notes %></p>

    <% unless @deploy.affected_projects.blank? %>
      <p><strong><%= t('.affected_projects') %></strong>: <%= @deploy.affected_projects %></p>
    <% end %>

    <% unless @deploy.authorization.blank? %>
      <p><strong><%= t('.authorization') %></strong>: <%= @deploy.authorization %></p>
    <% end %>

    <% unless @user.blank? %>
      <p><strong><%= t('.author') %></strong>: <%= link_to @user.name, user_path(@user.id) %></p>
    <% end %>

    <% unless @version.blank? %>
      <p><strong><%= t('.version') %></strong>: <%= link_to @version.name, version_path(@version.id) %></p>
    <% end %>


    <hr/>
    <p><strong><%= t('.issues') %></strong></p>
    <% @deploy.issues.each_with_index do |issue, index| %>
      <p><strong><%= t('.issue', index: issue.id) %></strong>: <%= link_to "#{issue.subject}", issue_path(issue.id) %></p>
    <% end %>

    <%= link_to(t('.edit'), edit_project_deploy_path(id: @deploy.id, project_id: @project.identifier)) %>
    <br/>
    <%= link_to(t('.send_start_mail'), send_start_project_deploy_path(id: @deploy.id, project_id: @project.identifier)) %> |
    <%= link_to(t('.send_successful_end_mail'), send_successful_end_project_deploy_path(id: @deploy.id, project_id: @project.identifier)) %> |
    <%= link_to(t('.send_rollback_mail'), send_rollback_project_deploy_path(id: @deploy.id, project_id: @project.identifier)) %>
    <br/>
    <%= link_to(t('.send_start_mail_no_client'), send_start_project_deploy_path(id: @deploy.id, project_id: @project.identifier, client: false)) %> |
    <%= link_to(t('.send_successful_end_mail_no_client'), send_successful_end_project_deploy_path(id: @deploy.id, project_id: @project.identifier, client: false)) %> |
    <%= link_to(t('.send_rollback_mail_no_client'), send_rollback_project_deploy_path(id: @deploy.id, project_id: @project.identifier, client: false)) %>
  </div>

<% end %>